html{
font-family: 'Chakra Petch', sans-serif;
background-color: #404040;
}

h1,h2,h3,h4,h5,h6, p, a {
font-family: 'Chakra Petch', sans-serif;
color: #c5aa6a;
}
p{
color: 	#000000;
font-family: 'Chakra Petch', sans-serif;	
}

header,h1,main,article,aside,footer{
padding:8px;
margin:8px;
}
nav{
display:flex;

}
header{
display:flex;
background-color: #2f2626;
}

nav li {
font-size: 20px;
display: inline;
float: center;

}

nav,ul,li,a, input{
color: #c5aa6a;
list-style: none;
position: relative;	
line-height: 40px;
font-size: 18px;
display: block;
padding: 0px 8px;
text-decoration: none;
display: inline-block;

}

nav ul li:hover{

background-color:#5f4c4c;
border-radius: 5px;

}
footer
{
margin-top:100px;
width:100%;
height:100px;
background-color:#4c3c3c;
padding:0px;
margin:0px;

}
main{
display:flex;
padding:8px;
margin:8px;

}
article{
flex-basis:75%;
}
aside{
flex-basis:25%;
}

#peppo{
width: 100%;
height: 100%;	
padding:8px;
margin:8px;
}

@media (max-width: 600px){
    main{
        flex-direction:column;
    }
    article{
        flex-basis: 100%;
    }
    aside{
            flex-basis: 100%;
    }
}
